* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(138, 241, 35);
}

.start-container{
    text-align: center;
    width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  max-width: 70%; /* Ensure the image scales down on smaller screens */
  height: auto;    /* Maintain aspect ratio */
  display: block;  /* Ensure the image is treated as a block element */
  margin: 0 auto;  /* Center the image horizontally */
}


.start-btn {
  margin-top: 40px;
  width: 80%;
  max-width: 450px;
  padding: 20px;
  font-size: 2em;
  font-weight: 600;
  border-radius: 9px;
  font-family: "poppins";
  color: #ffffff;
  background-color: #35bd3a;
  border: 1px solid #35bd3a;
  box-shadow: 10px 20px #01ab08;
  cursor: pointer;
}

.score {
  /* display: none; */
  margin-top: 80px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: "poppins";
}

.quiz-container{
  position: absolute;
  top: 40px;
  display: none;
  flex-direction: column;
  width: 100%;
}

.quiz-container .icon{
  max-width: 220px;
}

.icon{
  display: flex;
  justify-content: flex-start;
}

.icon img{
  width: 100%;
  margin-left: 11em;
}

.sound-toggle{
  display: flex;
  justify-content: flex-end;
  margin-right: 12em;
}

.sound-toggle i{
  font-size: 40px;

}

@media (max-width: 600px) {
  .hero img {
    max-width: 90%; 
  }
  .start-btn {
    margin-top: 70px; 
    width: 65%;
    font-size: 1.2em; 
  }

  .hero {
    margin-top: 10px; 
  }

  .start-container {
    padding: 10px; 
  }
  .score {
    margin-top: 170px;
  }
  .icon img{
    margin-left: 3em;
  }
  
  .sound-toggle{
    margin-right: 3em;
  }
}

