* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(138, 241, 35);
}

.start-container{
    text-align: center;
    width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  max-width: 70%; /* Ensure the image scales down on smaller screens */
  height: auto;    /* Maintain aspect ratio */
  display: block;  /* Ensure the image is treated as a block element */
  margin: 0 auto;  /* Center the image horizontally */
}


.start-btn {
  margin-top: 40px;
  width: 80%;
  max-width: 350px;
  padding: 20px;
  font-size: 2em;
  font-weight: 600;
  border-radius: 9px;
  color: #ffffff;
  background-color: #35bd3a;
  border: 1px solid #35bd3a;
  box-shadow: 10px 20px #01ab08;
  cursor: pointer;
}

.score {
  /* display: none; */
  margin-top: 80px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;

}

.quiz-container{
  position: absolute;
  top: 20px;
  display: none;
  flex-direction: column;
  width: 100%;
}

.quiz-container .icon{
  max-width: 220px;
}

.icon{
  display: flex;
  justify-content: flex-start;
}

.icon img{
  width: 100%;
  margin-left: 11em;
}

.sound-toggle{
  display: flex;
  justify-content: flex-end;
  margin-right: 12em;
}

.sound-toggle i{
  font-size: 40px;

}

.question-index{
  display: flex;
  justify-content: flex-end;
  margin-right: 12em;
}
.question{
  border-radius: 12px;
  font-size: 24px;
  padding-inline: 150px;
  padding-block: 25px;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-inline: 120px;
  background-color: #fff;
}

.options{
  border-radius: 12px;
  margin-top: 40px;
  background-color: #F5F5F57A;
  font-size: 24px;
  width: 80%;
  margin-inline: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.option{
  border: 3px solid #F5F5F57A;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 30px;
  background-color: #F5F5F57A;
  cursor: pointer;
}

.options li{
  list-style: none;
}

.next-btn{
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: #01AB08;
  margin-top: 20px;
  margin-right: 200px;
}

.time-index{
  display: flex;
  justify-content: flex-end;
  width: 10%;
  font-size: 36px;
  background-color: #C5B1006E;
}
.time{
  padding: 5px;
}

@media (max-width: 600px) {
  .hero img {
    max-width: 90%; 
  }
  .start-btn {
    margin-top: 70px; 
    width: 65%;
    font-size: 1.2em; 
  }

  .hero {
    margin-top: 10px; 
  }

  .start-container {
    padding: 10px; 
  }
  .score {
    margin-top: 170px;
  }
  .icon img{
    margin-left: 3em;
  }
  
  .sound-toggle{
    margin-right: 2em;
  }
  .question{
    margin-top: 20px;
    font-size: 20px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-inline: 20px;
  }
  .options{
    margin-top: 20px;
    font-size: 20px;
    margin-inline: 20px;
  }
  .next-btn{
    font-size: 1.2em;
    margin-top: 20px;
    margin-right: 50px;
  }
  
}

